#Data
data/
*.nii
*.nii.gz

#notebook
.ipynb_checkpoints/

#py
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/

#.venv
venv/
.venv/
env/

#vs code
.vscode/

#os
.DS_Store
Thumbs.db

#outputs/
#*.png
#*.svg